<%- include("../templates/encabezado")%>


<section  class="layout">
    <div class="sidebar bg-dark col-sm-auto  sticky-top"><%- include("../templates/menu")%></div>
    <div class="body">
      <div class="container mt-3 mb-2 ml-1">
        <section class="layout_2">
          <div class="header">
            <%- include("../templates/navbar/navbarInicio")%>
          </div>
          <div class="main">
            Productos para mostrar (Aun no tenemos la base de datos de productos)
          </div>
        </section>
      </div>
    </div>
</section>


<%- include("../templates/pie")%>