<%- include("../../templates/encabezado")%>

<link rel="stylesheet" href="/public/wrongSuccess.css">

<section class="layout">
    <!-- <div class="sidebar bg-dark col-sm-auto sticky-top"><%- include("../../templates/menu")%></div> -->
    <div class="body_WS">

        <div id="container" >
            <div id="success-box">
              <div class="dot"></div>
              <div class="dot two"></div>
              <div class="face">
                <div class="eye"></div>
                <div class="eye right"></div>
                <div class="mouth happy"></div>
              </div>
              <div class="shadow scale"></div>
              <div class="message"><h1 class="alert">Success!</h1><h1>yay, everything is working.</h1></div>
              <a href="/success"><button class="button-box"><h1 class="green">continue</h1></button></a>
            </div>
          </div>

    </div>
  </section>
  




<%- include("../../templates/pie")%>