<%- include("../../templates/encabezado")%>

<link rel="stylesheet" href="/public/wrongSuccess.css">

<section class="layout">
    <!-- <div class="sidebar bg-dark col-sm-auto sticky-top"><%- include("../../templates/menu")%></div> -->
    <div class="body_WS">

        <div id="container">
            <div id="error-box">
              <div class="dot"></div>
              <div class="dot two"></div>
              <div class="face2">
                <div class="eye"></div>
                <div class="eye right"></div>
                <div class="mouth sad"></div>
              </div>
              <div class="shadow move"></div>
              <div class="message"><h1 class="alert">Error!</h1><h1>oh no, something went wrong. <%= mensaje%> </h1></div>
              <a href="/wrong"><button class="button-box"><h1 class="red">try again</h1></button></a>
            </div>
          </div>

    </div>
  </section>
  




<%- include("../../templates/pie")%>